<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <!-- Allow TorchMonitor to work with any version of Profiler, InfluxDb.Torch, and InfluxDb.Client.
         This prevents TypeLoadException when dependencies update without requiring extern/ to be manually updated. -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Profiler: Accept any version, redirect to whatever is loaded -->
      <dependentAssembly>
        <assemblyIdentity name="Profiler" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.0.0.0" />
      </dependentAssembly>
      <!-- InfluxDb.Torch: Accept any version -->
      <dependentAssembly>
        <assemblyIdentity name="InfluxDb.Torch" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.0.0.0" />
      </dependentAssembly>
      <!-- InfluxDb.Client: Accept any version -->
      <dependentAssembly>
        <assemblyIdentity name="InfluxDb.Client" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
